@page


@{
}
<h1>"Redefinição de Senha Realizada com Sucesso"</h1>
<p>A Redefinição ocorreu com sucesso. Para fazer o Login agora, <a href="/Identity/Account/Login"> clicando aqui</a>.</p>
<p>
    <a class="btn btn-outline-sucess" href="/Identity/Account/Login">Redefinir</a>

</p>